@import '../../commonStyles/componentsColors.scss';

.custom-button {
  min-width: 86px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: $lightColor;
  box-shadow: 0px 4px 10px rgba(135, 167, 171, 0.5);
  font-size: 14px;
  color: black;
  font-weight: 500;
  text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.15);
  outline: none;

  &_active {
    cursor: pointer;
  }

  &_active:hover {
    filter: brightness(90%);
  }
  
  &_active:active {
    filter: brightness(80%);
  }

  &_disabled {
    color: rgba(0,0,0,.26);
    background-color: rgba(0,0,0,.12);
    box-shadow: none;
  }
  
  &_primary {
    background-color: $primaryColor;
    color: white;
  }
  
  &_success {
    background-color: $successColor;
    color: white;
  }
  
  &_danger {
    background-color: $dangerColor;
    color: white;
  }
  
  &_warning {
    background-color: $warningColor;
    color: black;
  }
  
  &_small {
    font-size: 12px;
    padding: 8px 8px;
  }
  
  &_large {
    font-size: 16px;
    padding: 12px 16px;
  }
  
  &_block {
    width: 100%;
  }
  
  &_outlined {
    color: black;
    background-color: transparent;
    border: 1px solid black;
  }

  &_primary_outlined {
    color: $primaryColor;
    border: 1px solid $primaryColor;
  }
  
  &_success_outlined {
    color: $successColor;
    border: 1px solid $successColor;
  }
  
  &_warning_outlined {
    color: $warningColor;
    border: 1px solid $warningColor;
  }
  
  &_danger_outlined {
    color: $dangerColor;
    border: 1px solid $dangerColor;
  }
  
  &_text {
    background-color: transparent;
    box-shadow: none;
    color: black;
  }
  
  &_text:hover {
    background-color: $lightColor;
  }

  &__icon {
    vertical-align: middle;
  }
  
  &__icon {
    img {
      margin-left: 10px;
      height: 16px;
    }
  }
  
  &__icon_large {
    img {
      height: 18px;
    }
  }
  
  &__icon_small {
    img {
      height: 14px;
    }
  }
  
  &__preloader {
    height: 20px;
  }
}